{% extends "OkredJobBundle::layout.html.twig" %}
{% use "OkredJobBundle:Candidate:_common.html.twig" %}
{% trans_default_domain "OkredJobBundle" %}
{% set tab = 'resume' %}
{% block page %}
    <div class="row">
        <div class="col-md-12">
            {{ block('profile_header') }}
            <div class="well space-top-m">
                {% for e in list %}
                {% else %}
                    <a href="{{ path('okred_job_userprofile_resume_edit') }}" class="btn btn-warning">Создать резюме</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}