{% use "OkredJobBundle::_blocks.html.twig" %}
{% trans_default_domain "OkredJobBundle" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OKRED.JOB{% endblock %}</title>
    {% block css %}{{ block('common_css') }}{% endblock %}
    {% block js %}{{ block('common_js') }}{% endblock %}
</head>
<body>
{% block container -%}
    <div class="container">
        <div class="masthead masthead-clean">
            <div class="title">
                <a href="{{ path('okred_job_home') }}" class="no-link">
                    <h3 class="text-muted">OK<span class="red">RED</span>.JOB</h3>
                </a>
            </div>
            {{ block('auth_info') }}
            <div class="clearfix"></div>
        </div>
        {% block page %}{% endblock %}
        <div class="footer">
            <p>&copy; OKRED 2013</p>
        </div>
    </div>
{%- endblock %}
</body>
</html>