{% extends "OkredJobBundle::layout.html.twig" %}
{% set main_section = 'about' %}
{% block page %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>О проекте</h3>
            </div>
            <div>
                <p>Тут будет написано много красивых слов, о том какой это афигительный проект и как все он должне
                    понравиться.</p>
            </div>
        </div>
    </div>
{% endblock %}
